{% extends 'index.html' %}
{% block content%}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">Members List</div>
                </div>
                <div class="widget-body  am-fr">


                    <div class="am-u-sm-12">
                        <div class="widget-title  am-cf">Actived members</div>
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
<!--                               <id="example-r">-->
                            <thead>
                            <tr>
                                <th>Create time</th>
                                <th>Active time</th>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Manipulate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in data%}
                            {% if item.is_active %}
                            <tr class="gradeX">
                                <td>{{ item.created_time }}</td>
                                <td>{{ item.fix_time }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{% url 'myadmin:user_cancel' item.id%}">
                                            <i class="am-icon-pencil"></i>cancel
                                        </a>
<!--                                        <a href="{% url 'myadmin:user_delete' item.id%}" class="tpl-table-black-operation-del">-->
<!--                                            <i class="am-icon-trash"></i> delete-->
<!--                                        </a>-->
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">

<!--                        <div class="am-fr">-->
<!--                            <ul class="am-pagination tpl-pagination">-->
<!--                                <li class="am-disabled"><a href="#">«</a></li>-->
<!--                                <li class="am-active"><a href="#">1</a></li>-->
<!--                                <li><a href="#">2</a></li>-->
<!--                                <li><a href="#">3</a></li>-->
<!--                                <li><a href="#">4</a></li>-->
<!--                                <li><a href="#">5</a></li>-->
<!--                                <li><a href="#">»</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                    <div class="am-u-sm-12">
                        <div class="widget-title  am-cf">Inactived members</div>
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                               id="example-r1">
                            <thead>
                            <tr>
                                <th>Create time</th>
                                <th>Username</th>
                                <th>E-mail</th>
                                <th>Manipulate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in data%}
                            {% if not item.is_active %}
                            <tr class="gradeX">
                                <td>{{ item.created_time }}</td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="{% url 'myadmin:user_active' item.id%}">
                                            <i class="am-icon-pencil"></i> active
                                        </a>
<!--                                        <a href="{% url 'myadmin:user_delete' item.id%}" class="tpl-table-black-operation-del">-->
<!--                                            <i class="am-icon-trash"></i> delete-->
<!--                                        </a>-->
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">

<!--                        <div class="am-fr">-->
<!--                            <ul class="am-pagination tpl-pagination">-->
<!--                                <li class="am-disabled"><a href="#">«</a></li>-->
<!--                                <li class="am-active"><a href="#">1</a></li>-->
<!--                                <li><a href="#">2</a></li>-->
<!--                                <li><a href="#">3</a></li>-->
<!--                                <li><a href="#">4</a></li>-->
<!--                                <li><a href="#">5</a></li>-->
<!--                                <li><a href="#">»</a></li>-->
<!--                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}