<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Order page</title>

    <link href="/static/shop/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>

    <link href="/static/shop/basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="/static/shop/css/cartstyle.css" rel="stylesheet" type="text/css"/>

    <link href="/static/shop/css/jsstyle.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/static/shop/js/address.js"></script>

</head>

<body>


<div class="clear"></div>
<div class="concent">
    <!--地址 -->
    <div class="paycont">
        <div class="address">
            <h3>Confirm the receive address </h3>
            <div class="control">
                <a class="tc-btn createAddr theme-login am-btn am-btn-danger"
                   href="{% url 'user:other_address' the_order.id %}">use other address</a>
            </div>
            <div class="clear"></div>
            <ul>
                <!--                <div class="per-border"></div>-->
                <!--                <li class="user-addresslist defaultAddr">-->

                <!--                    <div class="address-left">-->
                <!--                        <div class="user DefaultAddr">-->

                <!--										<span class="buy-address-detail">   -->
                <!--                   <span class="buy-user"></span>-->
                <!--										<span class="buy-phone">15888888888</span>-->
                <!--										</span>-->
                <!--                        </div>-->
                <!--                        <div class="default-address DefaultAddr">-->
                <!--                            <span class="buy-line-title buy-line-title-type">收货地址：</span>-->
                <!--                            <span class="buy&#45;&#45;address-detail">-->
                <!--								   <span class="province">湖北</span>省-->
                <!--										<span class="city">武汉</span>市-->
                <!--										<span class="dist">洪山</span>区-->
                <!--										<span class="street">雄楚大道666号(中南财经政法大学)</span>-->
                <!--										</span>-->

                <!--                            </span>-->
                <!--                        </div>-->
                <!--                        <ins class="deftip">默认地址</ins>-->
                <!--                    </div>-->
                <!--                    <div class="address-right">-->
                <!--                        <a href="/static/shop/person/address.html">-->
                <!--                            <span class="am-icon-angle-right am-icon-lg"></span></a>-->
                <!--                    </div>-->
                <!--                    <div class="clear"></div>-->

                <!--                    <div class="new-addr-btn">-->
                <!--                        <a href="#" class="hidden">设为默认</a>-->
                <!--                        <span class="new-addr-bar hidden">|</span>-->
                <!--                        <a href="#">编辑</a>-->
                <!--                        <span class="new-addr-bar">|</span>-->
                <!--                        <a href="javascript:void(0);" onclick="delClick(this);">删除</a>-->
                <!--                    </div>-->

                <!--                </li>-->

                <div class="per-border"></div>
                {% if the_address%}
                <li class="user-addresslist">
                    <div class="address-left">
                        <div class="user DefaultAddr">

										<span class="buy-address-detail">   
                   <span class="buy-user">{{the_address.receiver}}</span>
										<span class="buy-phone">{{the_address.phone}}</span>
										</span>
                        </div>
                        <div class="default-address DefaultAddr">
                            <span class="buy-line-title buy-line-title-type">Address:  </span>
                            <span class="buy--address-detail">
										<span class="street">{{the_address.addr}}<br>Zip Code: {{the_address.zip_code}}</span>
										</span>

                        </div>
                        <ins class="deftip hidden">default address</ins>
                    </div>
                    <div class="address-right">
                        <span class="am-icon-angle-right am-icon-lg"></span>
                    </div>
                    <div class="clear"></div>


                </li>
                {% else %}
                <li class="user-addresslist">
                    <div class="address-left">
                        <div class="user DefaultAddr">

										<span class="buy-address-detail">
                   <span class="buy-user">{{user.username}}</span>
										</span>
                        </div>
                        <div class="default-address DefaultAddr">
                            <span class="buy-line-title buy-line-title-type">Address:  </span>
                            <span class="buy--address-detail">
										<span class="street">No default address</span>
										</span>

                        </div>
                        <ins class="deftip hidden">No default address</ins>
                    </div>
                    <div class="address-right">
                        <span class="am-icon-angle-right am-icon-lg"></span>
                    </div>
                    <div class="clear"></div>


                </li>
                {% endif %}
            </ul>

            <div class="clear"></div>
        </div>

        <!--物流 -->

        <!--支付方式-->
        <div class="logistics">
            <h3>Choose the way to pay</h3>
            <ul class="pay-list">
                <li class="pay card"><img src="/static/shop/images/wangyin.jpg"/>银联<span></span></li>
                <li class="pay qq"><img src="/static/shop/images/weizhifu.jpg"/>微信<span></span></li>
                <li class="pay taobao"><img src="/static/shop/images/zhifubao.jpg"/>支付宝<span></span></li>
            </ul>
        </div>
        <div class="clear"></div>

        <!--订单 -->
        <div class="concent">
            <div id="payTable">
                <h3>Confirm the order information</h3>
                <div class="cart-table-th">
                    <div class="wp">
                        <div class="th th-item">
                            <div class="td-inner">Dish</div>
                        </div>
                        <div class="th th-price">
                            <div class="td-inner">Price</div>
                        </div>
                        <div class="th th-amount">
                            <div class="td-inner">Count</div>
                        </div>
                        <div class="th th-sum">
                            <div class="td-inner">Sub total</div>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
                {% for item in list%}
                <tr class="item-list">
                    <div class="bundle  bundle-last">

                        <div class="bundle-main">
                            <ul class="item-content clearfix">
                                <div class="pay-phone">
                                    <li class="td td-item">
                                        <div class="item-pic">
                                            <img src="{{ item.dish.default_image.url }}"
                                                 width="90">
                                        </div>
                                        <div class="item-info">
                                            <div class="item-basic-info">
                                                <p class="item-title J_MakePoint" data-point="tbcart.8.11">{{ item.dish.name }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="td td-price">
                                        <div class="item-price price-promo-promo">
                                            <div class="price-content">
                                                <em class="J_Price price-now">{{item.price}}</em>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <li class="td td-amount">
                                    <div class="amount-wrapper ">
                                        <div class="item-amount ">
                                            <span class="phone-title">购买数量</span>
                                            <div class="sl">
                                                <input disabled class="text_box" name="" type="text"
                                                       value="{{item.count}}"
                                                       style="width:30px;"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="td td-sum">
                                    <div class="td-inner">
                                        <em tabindex="0" class="J_ItemSum number">{{item.subtotal}}</em>
                                    </div>
                                </li>

                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </tr>
                {% endfor%}
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="pay-total">
            <!--留言-->
            <!--优惠券 -->
            <!--含运费小计 -->
            <div class="buy-point-discharge ">
                <p class="price g_price ">
                    Total <span>$</span><em class="pay-sum">{{the_order.total}}</em>
                </p>
            </div>

            <!--信息 -->
            <div class="order-go clearfix">
                <div class="pay-confirm clearfix">
                    <div class="box">
                        <div tabindex="0" id="holyshit267" class="realPay"><em class="t">Real payment：</em>
                            <span class="price g_price ">
                                    <span>$</span> <em class="style-large-bold-red " id="J_ActualFee">{{the_order.total}}</em>
											</span>
                        </div>


                        <div id="holyshit269" class="submitOrder">
                            <div class="go-btn-wrap">
                                <a id="J_Go" href="success.html" class="btn-go" tabindex="0" title="点击此按钮，提交订单">pay
                                    order</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>





</body>

</html>